@import "_variables";

// Layout
@mixin flexin($jc: center, $ai: center, $fd: row, $fw: nowrap) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}

@mixin pagePadding() {
  padding-left: 5%;
  padding-right: 5%;

  @include breakpoint(tablet) {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  @include breakpoint(mobile) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// Typography
@function getFontSize($fs) {
  $size: map-get($font-sizes, $fs);

  @if ($size) {
    @return $size / 16;
  } @else if not ($size) and (type_of($fs) == number) {
    @return $fs / 16;
  } @else {
    @debug $size;
    @error $fs could not be parsed in the getFontSize function;
  }
}

@function getFontWeight($fw) {
  $weight: map-get($font-weights, $fw);

  @if ($weight) {
    @return $weight;
  } @else {
    @debug $fw;
    @error $fw could not be parsed in the getfontWeight function;
  }
}

@mixin font($fs, $fw: 0) {
  $size: getFontSize($fs);
  $weight: if($fw != 0, getFontWeight($fw), 300);

  font-size: #{$size}rem;
  line-height: #{$size + ($size / 20)}rem;
  font-weight: $weight;
}

// Breakpoints
@function getQuery($query) {
  $breakpoint: map-get($queries, $query);

  @if ($breakpoint) {
    @return $breakpoint;
  } @else if not ($breakpoint) and (type_of($query) == number) {
    @return $query;
  } @else {
    @error "#{$query} could not be parsed in the getQuery function";
  }
}

@mixin breakpoint($query) {
  @media screen and (max-width: #{getQuery($query)}px) {
    @content;
  }
}

// Cards
@mixin card() {
  background-color: transparentize($biege, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; /* 5px rounded corners */
}

// Gsap Animation presets
@mixin springIn() {
  transform: scale(0.9);
}
