$font-sizes: (
  "regular": 20,
  "small": 16,
  "large": 28,
);

$font-weights: (
  "thin": 100,
  "light": 300,
  "regular": 400,
  "bold": 700,
);

$queries: (
  "desktop": 1200,
  "tablet": 1024,
  "mobile": 767,
);

$biege: #f2f2f2;
$purple: #726eff;
$light-green: #5affe7;
$dark-green: #08c6ab;
$light-gray: #37465b;
$dark-gray: #212b38;

// https://www.behance.net/gallery/80191113/Minimalist-Color-Palettes-are-back/moodboard?moduleId=465005625
