@import "_mixins";
@import "_variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  text-decoration: none;
  background-color: none;
  border: none;
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-rows: minmax(100px, 0.2fr) 1fr minmax(100px, 0.2fr);
  font-family: Lato;
}

.header {
  @include pagePadding();
  display: grid;
  grid-template-areas:
    "h1 search nav"
    "h2 search nav";
  grid-area: header;
  grid-column: 1 / -1;
  grid-template-columns: 0.75fr repeat(2, 1fr);
  align-items: center;
  border-bottom: 1px solid #e7e7e7;

  @include breakpoint(tablet) {
    background-color: red;
  }

  .h1 {
    @include font(regular);
    grid-area: h1;
  }

  .h2 {
    grid-area: h2;
  }

  .search {
    grid-row: 1 / -1;
    margin-top: auto;
  }

  .nav {
    grid-area: nav;
    align-self: stretch;

    .ul {
      @include flexin(space-between);

      @include breakpoint(tablet) {
        height: 0;
        opacity: 0;
        visibility: hidden;
      }
    }

    .mobile-hamburger {
      display: none;

      span {
        display: block;
        width: 30px;
        height: 2.5px;
        background-color: green;
      }

      .middle {
        margin: 5px 0;
      }

      @include breakpoint(tablet) {
        display: block;
        border: 1px solid red;
        margin-left: auto;
      }
    }
  }
}

.main {
  @include pagePadding();
  grid-column: 1 / -1;
}

.footer {
  @include pagePadding();
  display: grid;
  grid-area: footer;
  grid-template-areas:
    "logo links links"
    "logo links contact";
  grid-template-columns: repeat(3, 1fr);
  background-color: darken($dark-gray, 5%);
  color: white;

  .h6 {
    @include font("small");
    grid-area: logo;
    // align-self: center;
  }
}

.card {
  @include card();
}
