html
    head
        include ../blocks/head
    body
        header.header
            include ../blocks/header
        main.main
            block main
        footer.footer
            include ../blocks/footer
                