.header {
  display: grid;
  grid-template-areas: "h1 nav nav" "h2 nav nav";
  grid-area: header;
  grid-column: 1 / -1;
  align-items: center;
  background-color: red; }
  .header .h1 {
    grid-area: h1; }
  .header .h2 {
    grid-area: h2; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-area: nav;
    border: 1px solid;
    align-self: stretch; }
